@model System.Collections.Generic.IEnumerable<AssetManagementSystem.Models.Asset>

<h1> Asset List </h1>

<p>
    <pre>@Html.ActionLink("Book", "ListMethodAsset")</pre>
    <pre>@Html.ActionLink("Hardware", "HardwareAsset")</pre>
    <pre>@Html.ActionLink("Software", "SoftwareAsset")</pre> 
</p>
</table>
