@model System.Collections.Generic.IEnumerable<AssetManagementSystem.Models.Asset>

<h1> Book Asset </h1>
<p>
    <pre>@Html.ActionLink("AddAsset", "Asset")</pre>
    <pre>@Html.ActionLink("SearchAsset", "SearchAsset")</pre>
    <pre>@Html.ActionLink("UpdateAsset", "UpdateAsset")</pre> 
     <pre>@Html.ActionLink("DeleteAsset", "DeleteAsset")</pre> 
</p>